.navContainer {
  display: flex ;
  justify-content: center;
} 
.navContainer {
position: fixed;
top : 100px;
width: 100%;
padding: 20px;
text-align: center;
z-index: 5;
opacity: 0.75;
transition: opacity 0.5s ease-out;
}
.navContainer:hover{
opacity :1;
transition: opacity 0.5s ease-out;
}
.input-group .form-control {
width: 750px;
height: 50px;
}
.form-control:focus,.form-control:active{
transition: opacity 0.5s ease-out;
opacity : 1;
}
.navbar {
  width: 80%;
  border-radius: 20px;

}
.imageContainer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  column-gap: 50px;
  row-gap: 50px;

}

.image {
  width: 200px;
  height: 100px;
 /* overflow: hidden;
  /*border-radius: 10px;*/
  position: relative;
  display: inline-block;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*border-radius: 10px;*/
  transition: 500ms all;  
  filter : blur (2px);
  -webkit-filter: blur(3px);
  position: relative;
  text-align: center;
  color: white;
}

.image:hover img{
  transform: scale(1.2);
  filter : blur (0px);
  -webkit-filter: blur(0px);
  z-index: 2;
}

.imageContainerContainer {
  display: flex;
  flex : auto;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.image:hover .textOver {
  opacity: 0;
  z-index: 1;
}
.textOver {
  position: absolute;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  color: white;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  .imageContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 750px) {
  .imageContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  .imageContainer{
    grid-template-columns: repeat(1, 1fr);
  }
}
:root {
  --color-primary: #00ffdd;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #89c4a3;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #00ffdd);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #f3f3f3;
  line-height: 1.9;
  background-color: #231955;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}



/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

.navbar-brand {
  margin-left: -40%;
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primary);
  text-decoration: none;
}

/* nav and stickly class at the same time but after log in*/
.nav {
  position: fixed;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

/* HEADER */
.header {
  padding: 0 3rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.user-profile{
  margin-right: 1%;
	display: flex;
	align-items: center;
	border: 0;
	background: transparent;
	cursor: pointer;
	color: white;
	transition: 0.25s ease;
}

  /* lenna */
	.user-profile:hover{
		color:white;
	}
  .user-profile:hover span:last-child {
    box-shadow: 0 0 0 4px  white, 0 0 0 5px white;
  }

  /* lenna */

	.user-profile span:first-child {
		display: flex;
		padding-top: 1rem;
		padding-bottom: 1rem;
		/* border-bottom: 1px solid #313131; */
    font-size: 1.7rem;
    font-weight: 400;
	}

  /* lenna */

	.user-profile span:last-child {
		transition: 0.25s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		overflow: hidden;
		margin-left: 1.5rem;
		flex-shrink: 0;
    font-size: 1.7rem;
    font-weight: 400;
	}
/* DROPDOWN */
.dropdown-user{
  overflow: hidden;
  border-radius: 10px;
  position: fixed;
  top: 9rem;
  right: 60px;
  z-index: 10;
  width: 200px;
  border-radius: 5px;
  opacity: 0;
  transition: all 1s;
}

.dropdown-user li{
  text-align: center;
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid #313131;
  transition: 0.25s ease;
  font-size: 15px;
  background-color:#00ffdd;
  color:black;
  cursor: pointer;
}

.dropdown-user li:hover{
  color: white;
  z-index : 6 ;
}